<section fxFlex fxLayout="row" fxLayoutAlign="center center">
  <div class="wrapper">
    <!-- TODO: Dynamic implementation  -->
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="most popular streams">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="tab-wrapper">
          <div class="vid-wrapper">
            <div fxFlex="50%" class="video"></div>
          </div>
          <div fxFlex="50%" class="text-content">
            <h2>Create Your own channel and Start to Stream games now</h2>
            <p>Drumstick meatloaf capicola short ribs, pork chop cupim kielbasa jerky porchetta pancetta chicken
              pastrami turkey
              tenderloin sausage. Pig buffalo alcatra meatball. T-bone 