@import "../../../custom-theme.scss"
section
  position: relative
  padding: 10rem 0
  background-color: map-get($indiega-primary, 500)

p
  font-size: 1rem
  color: map-get($indiega-indigo, 100)
  line-height: 1.5rem
  margi