@import "../../../custom-theme.scss"

a:hover
  & .overlay
    opacity: 1
  & .slider-title
    color: map-get($indiega-accent, A200)

ngu-tile
  padding: 1.9rem

section
  position: relative
  padding-bottom: 6rem

.card
  background-color: map-get($indiega-primary, 400)
  position: relative
  padding: 4rem 7.14rem
  border-radius: 10px

  &__top-row
    font-size: .9rem
    font-family: Roboto
    text-transform: uppercase
    font-weight: 700

  &__image
    background-image: url('../../../assets/images/game-slide-img-1.jpg')
 