@import "../../../custom-theme.scss"

a:hover
  & .overlay
    opacity: 1
  & .slider-title
    color: map-get($indiega-accent, A200)

ngu-tile
  padding: 1.9rem

section
  position: relative
  padding-bottom: 6rem

.card
  b