@import "../../custom-theme.scss"

.bg
  background-image: url("../../assets/images/page-name.jpg")
  position: absolute
  top: 0
  right: 0
  width: 100%
  height: 100%
  z-index: -1
  background-repeat: no-repeat
  background-size: cover
  background-position: center 0px

._wrapper
  padding: 235px 0 100px 0

h1
  font-size: 3rem
  font-weight: 700
  text-transform: uppercase
  text-align: center
  margin