@import "../../custom-theme.scss"
section
  position: relative
  background-color: map-get($indiega-primary, 500 )
  padding: 5rem 0

ngu-carousel
  position: relative

blockquote
  margin: auto .3rem
  margin-top: 3.5rem
  position: relative
  background-color: map-get($indiega-primary, 600)
  paddi